/* Reset default body and html padding and margin */
html, body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply box-sizing globally to all elements for consistent layout */
*, *::before, *::after {
    box-sizing: inherit;
}

.vide{
    height: 17vh;
}
a{
    text-decoration: none;
}